<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404 Not Found</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/static/style.css">

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="/static/images/favicon.png"/>
	<link rel="apple-touch-icon" href="/static/images/favicon.png"/>

	<!-- Scripts -->
	<script src="/static/navbar.js" defer></script>
</head>
<body>

	<div id="navbar"></div>

	<h1 id="large">404</h1>
	<p class="center">OH NO! We couldn't find the page you were looking for.</p>
	<blockquote id="block">
		<p class="center mono">{{ error }}</p>
	</blockquote>
	<br>
	<a href="/">Or Go Home</a>
	
</body>
</html>