<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>API | SharePost</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>

	<div id="navbar"></div>

	<h1>SharePost API</h1>

	<p class="readable">The SharePost API allows developers to fetch information of user profiles. The data that is visible in the API is never private or valuable information. It contains the username, bio, status, profile picture, and the number of posts & comments only.</p>

	<h2>How to use the API</h2>
	<p class="readable">To request information from the API, send a request to this URL: https://sharepost.jonathan2018.repl.co/api?profile=[@profile], where you replace the [@profile] with the profile name your are trying to retreive (including the @ symbol). For example, if I were to want to retreive the information from the account "@Sample", I would send a request to https://sharepost.jonathan2018.repl.co/api?profile=@Sample.</p>

	<p class="readable"><b>NOTE:</b> The profile field is not case-sensitive.</p>
	
</body>
</html>