<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cannot Update Account</title>
	<link rel="stylesheet" href="/static/style.css">
	<script src="navbar.js"></script>
</head>
<body>

	<div id="navbar"></div>

	<h1>We've encountered an error while editing your account.</h1>
	<p class="center">[ERROR] {{ error }}</p>
	<a href="/account">The data was not saved. Click here to go back to your account page.</a>
	
</body>
</html>