<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home | SharePost</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/static/style.css">
	<!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	 crossorigin="anonymous" /> -->

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="/static/images/favicon.png"/>
	<link rel="apple-touch-icon" href="/static/images/favicon.png"/>

	<!-- Scripts -->
	<script src="/static/navbar.js" defer></script>
	<!-- <script src="/static/newpost.js" defer></script> -->
</head>
<body>

	<script>
		const pfp = "{{ pfp }}";
		const name = "{{ username }}";
	</script>

	<div id="navbar">
<!-- 		
		<ul>
			<li>hello</li>
			<li>bye</li>
		</ul> -->
	</div>

	<h1>Recent Posts</h1>

	<div id="posts">
		{% for post in posts %}
			<a class="post-link" href="/post/{{ post[0] }}" draggable="false">
				<div class="post" title="`{{ post[2] }}` by {{ post[1] }} was posted on {{ post[4] }} with {{ post[5] }} view(s)">
					<p class="title">{{ post[2] }}</p>
					<p>by {{ post[1] }}</p>
					<pre class="body">{{ post[3] }}</pre>
					<p class="timestamp"><i>{{ post[4] }}</i></p>
					<p class="views"><b>{{ post[5] }}</b> view(s)</p>
				</div>
			</a>
		{% endfor %}
	</div>


	<!-- Register SW -->
	<script>
		window.addEventListener("load", () => {
			if ("serviceWorker" in navigator) {
				navigator.serviceWorker.register("/sw.js");
			}
		});
	</script>
	
</body>
</html>