<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Publish a new post</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/static/style.css">

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="/static/images/favicon.png"/>
	<link rel="apple-touch-icon" href="/static/images/favicon.png"/>

	<!-- Scripts -->
	<script src="/static/navbar.js" defer></script>
</head>
<body>

	<script>
		const pfp = "{{ pfp }}";
		const name = "{{ username }}";
	</script>

	<div id="navbar"></div>

	<h1>Write a Post</h1>

	<div id="create-post">
		<form action="/publish" method="POST">
		<input type="text" name="title" id="title-input" placeholder="Title" maxlength="25" autocomplete="off" required autofocus>
		<!-- <br>
		<br> -->
		<!-- <input type="text" name="username" placeholder="Your name">
		<br>
		<br> -->
		<textarea name="body-content" id="content-input" placeholder="Share what you've been up to..." maxlength="350" required></textarea>
		<br>
		<br>
		<button type="submit" class="submit">Post</button>
		</form>
	</div>
	
</body>
</html>