<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profile | {{ information[0] }}</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	 crossorigin="anonymous" />

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="/static/images/favicon.png"/>
	<link rel="apple-touch-icon" href="/static/images/favicon.png"/>

	<!-- Scripts -->
	<script src="/static/navbar.js" defer></script>
	<script src="/static/pfp-loader.js" defer></script>
	<!-- <script src="/static/script.js" defer></script> -->
	<script src="/static/developer.js"></script>
</head>
<body>

	<script>
		const profileIndex = {{ information[4] }};
		const pfp = "{{ pfp }}";
		const name = "";
	</script>

	<div id="navbar"></div>

	<h1 id="profile-title">{{ information[0] }}</h1>

	<div class="profile-img-id" style="display:none">{{ information[4] }}</div>
	<div id="profile-pfp" title="Profile Picture"><img class="profile-img" draggable="false"></div>
	<!-- [IMG] {{ information[4] }} -->

	<div id="right-sidebar">
		<!-- <br> -->
		<h1>Profile</h1>

		<div id="information">
			<p class="profile-element-desc">Account Name</p>
			<div class="profile-element"><p>{{ information [0] }}</p></div>
			<p class="profile-element-desc">Bio</p>
			<div class="profile-element" id="bio"><pre class="left">{{ information [2] }}</pre></div>
			<p class="profile-element-desc">Status</p>
			<div class="profile-element"><p>{{ information [3] }}</p></div>
		</div>
	</div>
	
</body>
</html>