<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create an Account | SharePost</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	 crossorigin="anonymous" />
	<script src="/static/navbar.js" defer></script>
	<script src="/static/script.js"></script>
</head>
<body>

	<div id="navbar"></div>

	<div id="register-image-container">
		<img id="access-image" src="/static/images/register-icon.png" draggable="false">
	</div>

	<div id="right-sidebar">
		<h1>Hello!</h1>
		<span>You need an account to interact with posts and make comments.</span>
		<br>
		<br>

		<form action="/register" method="POST">
			<input onkeyup="removeInvalidChars('username')" type="text" name="username" placeholder="Username" autofocus required>
			<br>
			<br>
			<input type="password" name="password" placeholder="Password" required>
			<br>
			<br>
			<input type="password" name="password-conf" placeholder="Confirm your password" required>
			<br>
			<br>
			<button type="submit" class="submit">REGISTER</button>
		</form>
		<br>
		<a title="Login!" href="/login">Already have an account?</a>
		<p id="terms">By creating an account, you agree to having your profile public. Your profile contains your bio, status, and username. Anyone on the graphical platform who has an account can see your profile. Your profile is available to anyone choosing to use the <a href="/api/about">SharePost API</a>.</p>
	</div>
	
</body>
</html>