<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create an Account | SharePost</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	 crossorigin="anonymous" />

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="/static/images/favicon.png"/>
	<link rel="apple-touch-icon" href="/static/images/favicon.png"/>

	<!-- Scripts -->
	<script src="/static/navbar.js" defer></script>
	<script src="/static/script.js"></script>
</head>
<body>

	<div id="navbar"></div>

	<div id="register-image-container">
		<img id="access-image" src="/static/images/register-icon.png" draggable="false">
	</div>

	<div id="right-sidebar">
		<h1>Welcome!</h1>
		<span>Create an account to explore SharePost!</span>
		<br>
		<br>

		<form action="/register?developer={{ developer }}" method="POST">
			<input onkeyup="removeInvalidChars('username')" type="text" name="username" placeholder="Username" autofocus required>
			<br>
			<br>
			<input type="password" name="password" placeholder="Password" required>
			<br>
			<br>
			<input type="password" name="password-conf" placeholder="Confirm your password" required>
			<br>
			<br>
			<input type="checkbox" name="terms" required>
			<label for="terms">By registering, I agree to the <a href="#terms">terms above</a>.</label>
			<br>
			<br>
			<button type="submit">REGISTER</button>
		</form>
		<br>
		<a title="Login!" href="/login">Already have an account?</a>
		<p id="terms">Your profile is made public. It contains your <u>bio, status, and username</u>. Only people with an account on the platform can see your profile. <b>However, anyone using the</b> <a href="/api/about">SharePost <abbr title="Application Programming Interface">API</abbr></a> <b>can see your profile.</b></p>
	</div>
	
</body>
</html>