<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ data[0][2] }} | SharePost</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	 crossorigin="anonymous" />
	<script src="/static/navbar.js" defer></script>
	<script src="/static/pfp-loader.js" defer></script>
	<!-- sc -->
	<script src="/static/post.js" defer></script>
</head>
<body>

	<script>
		const pfp = "{{ pfp }}";
		const name = "{{ username }}";
		const deleteAllowed = "{{ deleteAllowed }}";
	</script>

	<div id="navbar"></div>

	<h1><span id="full-post-title">{{ data[0][2] }}</span> | <a href="/profile/{{ data[0][1] }}">{{ data[0][1] }}</a></h1>

	<div id="full-post">
		<div class="profile-img-id" style="display:none">{{ data[0][6] }}</div>
		
		<div class="author-pfp">
			<a class="open-profile-wrap" title="View {{ data[0][1] }}'s profile" href="/profile/{{ data[0][1] }}">
				<img class="profile-img">
			</a>
		</div>

		<a id="delete-btn" href="/remove/{{ data[0][0] }}" title="DELETE POST"><i class="fal fa-trash-alt"></i></a>
		
		<p class="author-name">{{ data[0][1] }}</p>
		<pre class="content">{{ data[0][3] }}</pre>
		<p class="timestamp">{{ data[0][4] }}</p>
		<p id="post-views-full"><b>{{ data[0][5]+1 }}</b> view(s)</p>
	</div>

	<br>
	<br>

	<form action="/comment" method="POST">
		<input type="hidden" name="post_id" value="{{ data[0][0] }}" required>
		<!-- <input title="Your Name" type="text" name="author" placeholder="author [temp]" required>
		<br>
		<br> -->
		<input title="Write a Comment" id="comment-input" type="text" name="comment" maxlength="300" autocomplete="off" placeholder="Say something about this post" required>
		<button type="submit" class="submit">Comment</button>
	</form>

	
	<div id="comments">	
		<h2>Comments (Latest - Earliest)</h2>
		{% for comment in comments %}
			<div class="comment">
				<div class="profile-img-id" style="display:none">{{ comment[6] }}</div>
				<a class="open-profile-wrap" title="View {{ comment[1] }}'s profile" href="/profile/{{ comment[1] }}">
					<div class="author-pfp">
						<img class="profile-img">
					</div>
				</a> 
				
				<p class="author-name">{{ comment[1] }}</p>
				<pre class="content">{{ comment[2] }}</pre>
				<p class="timestamp">{{ comment[3] }}</p>
			</div>
		{% endfor %}
	</div>
	
	
</body>
</html>